
<div class="text-center castlevania-form reservation-thanks">
  <h1 id="reservation-title">Your reservation for <strong><%= @reservation.property.name %></strong></h1>
  <h4>You have demanded a reservation going from the:</h4>

  <p class="dates"> <%= @reservation.date_from %> </p>
  <h4>until the:</h4>
  <p class="dates"> <%=  @reservation.date_to %> </p>
  <h4>Thank you for reserving with Castlevania</h4>
</div>



<div class="links">
  <tr>
    <% if policy(@reservation).edit? %>
    <td><%= link_to "Change my reservation",  edit_property_reservation_path([ @property, @reservation ]), class: :link %> |</td>
    <td><%= link_to 'Destroy', [ @reservation.property, @reservation ], method: :delete, data: { confirm: 'Are you sure?' }, class: :link %></td>
    <% end %>
  </tr>
</div>

<div class="back-to">
  <%= image_tag("back.png")%>
  <%= link_to "Back to all Castles", properties_path, style:'back-to-link' %>
</div>
